@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #ffffff;
}

main {
    background: var(--Background-Light, #F3F7FA);
}

img {
    height: fit-content;
}

h3 {
    /* Headline/H1 */
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: Inter;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 106%; /* 84.8px */
    letter-spacing: -4px;
}

h6 {
    color: var(--Neutral-07, #0C1523);
    /* Headline/H4 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 31.2px */
    letter-spacing: -0.5px;
}

.desc {
    color: var(--Neutral-07, #0C1523);
    /* Body/18px/Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 30.6px */
    letter-spacing: -0.3px;
}

.theme-button {
    display: inline-flex;
    padding: 19px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--Theme-Colors-Primary, #4C3DFF);
}

.request-demo-btn {
    display: flex;
    padding: 12px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1.5px solid var(--Neutral-03, #E3E5EA);
}